<h3 class="about-header"> The U.S. National Parks Tracker</h3>
<p>The United States has sixty-one protected areas overseen by the National Park Service, an agency of the Department of the Interior. The Parks are often created as means of environmental and animal protection, but are also frequently visited by citizens and foreigners alike through tourism.</p>
<p>Track your favorite parks and NPS destinations by adding, editing, and deleting Parks from your list. Or, simply browse through the list of parks by State and add them to your list.</p>
