<h6>Add New Park</h6>
<!-- form -->
<h5>{{ctrl.parkCreatedMessage}}</h5>
<form class="create-park-form" ng-submit="ctrl.createUserPark()">
  <!-- name -->
  <label for="ctrl.name">Park Name</label>
  <input type="text" ng-model="ctrl.createForm.name" />
  <!-- designation -->
  <label for="ctrl.designation">Park Designation</label>
  <input type="text" ng-model="ctrl.createForm.designation"/>
  <!-- description -->
  <label for="ctrl.description">Description</label>
  <input type="text" ng-model="ctrl.createForm.description"/>
  <!-- url -->
  <label for="ctrl.url">Park Website</label>
  <input type="text" ng-model="ctrl.createForm.url"/>
  <!-- visited -->
  <label for="ctrl.visited">Visited</label> <input type="checkbox" ng-model="ctrl.createForm.visited"/>
  <!-- notes -->
  <label for="ctrl.notes">Notes</label>
  <input type="text" ng-model="ctrl.createForm.notes"/>
  <br/>
  <input class="button-primary create-park-btn" type="submit" value="Create Park" />
</form>
<hr>
